.productTitles {
    position:sticky;
    top: 50px;
    z-index: 2;
}

.scroller {
    overflow: hidden;
}
.productTitles {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.singleProductTitle { 
    text-align: center;
    font-size: 3rem;
    color: #4D4D4F;
    background-color: #282829;
    min-width: 100%;
    margin: 0 20px 0 0;

    a {
        text-decoration: none;
        color: #4D4D4F;
    }
}


.wrapper {
    position: relative;
    overflow: hidden;
}

.arrow {
    position: absolute;
    cursor: pointer;
    width: 60px;
    height: 60px;
    top: 40px;
    background-color: rgba(#111111, 0.2);
    border-radius: 50%;
    -webkit-tap-highlight-color: transparent;
    z-index: 1;

    &::after {
        content: '';
        mask: url('../assets/images/left-arrow.svg');
        position: absolute;
        width: 20px;
        height: 20px;
        top: 20px;
        left: 20px;
        background-color: #AEAEB2;
        opacity: 0.8;
    }
}

.arrowLeft {
    @extend .arrow;
    left: 0;
    &::after {
        transform: rotate(360deg) scale(1.5);
    }
}

.arrowRight {
    @extend .arrow;
    right: 0;
    &::after {
        transform: rotate(180deg) scale(1.5);
    }
}

.productsWrapper {
    display: flex;
    flex-direction: row;
    position: relative;
    transition: transform 0.5s ease-in-out;
}
.product {
    position: relative;
    min-width: 100%;
    margin-right: 20px;
}
.header {
    width: 100%;
    display: flex;

    a {
        display: inline-block;
        margin: 0 auto;
    }

    .productImg {
        max-width: 280px;
        height: 100px;
        margin: 20px auto;
    }
}

.featuresWrapper {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}
.singleFeature {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 40px;
}

.featureName {
    width: 40%;
    font-size: 1.3rem;
    color: #505052;
}

.featureContent {
    width: 60%;
    font-size: 1.3rem;
    color: #AEAEB2;
    text-align: end;
}

.tickIcon {
    height: 20px;
    &::after {
        content: "";
        mask: url('../assets/images/tick.svg');
        position: absolute;
        right: 0;
        width: 25px;
        height: 20px;
        background-color: #AEAEB2;
    }
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}