.wrapper {
    max-width: 915px;
    height: 818px;
    margin: 171px auto 0 auto;

    h1 {
        width: 70%;
        text-align: center;
        font-family: Arial, sans-serif;
        font-size: 3.585rem;
        font-weight: 400;
        color: #624C3C;
        margin: 0 auto;
        line-height: 48px;
    }
}

.cardWrapper {
    position: relative;
    height: 580px;
    margin: 50px auto 0 auto;
    overflow-y: hidden;
}

.card1 {
    position: absolute;
    top: 45px;
    z-index: 3;
    transition: all .4s linear;
}

.card2 {
    position: absolute;
    top: 3px;
    background-color: #232324;
    box-shadow: none !important;
    z-index: 2;
    transform: scale(0.91);
    transition: all .4s linear;
}

.card3 {
    position: absolute;
    top: -37px;
    background-color: #232324;
    box-shadow: none !important;
    z-index: 1;
    transform: scale(0.832);
    transition: all .4s linear;
}

.hidden {
    position: absolute;
    bottom: 0;
    opacity: 0;
    transform: translateY(500px);
    z-index: 4;
    transition: all .4s linear;
}

.behind {
    @extend .card3;
}