.wrapper {
    margin: 0 auto;
    max-width: 767px;
    height: 818px;

    h1 {
        text-align: center;
        font-family: Arial, sans-serif;
        font-size: 3.585rem;
        font-weight: 400;
        color: #624C3C;
    }
}