@import 'media_query';
.carousel {
    position: relative;
    // width: 904px;
    width: 100%;
    margin: 102px auto 0;

    @include for-size(smartphone-and-landscape) {
        overflow: hidden;
        
    }
    h1 {
        text-align: center;
        font-family: Arial, sans-serif;
        font-size: 3.585rem;
        font-weight: 400;
        color: #624C3C;
        margin: 0 auto;
        @include for-size(smartphone-and-landscape) {
            font-size: 3rem;
        }
    }
}

.wrapper {
    display: flex;
    position: relative;
    height: 550px;
    margin-top: 46px;
    width: 100%;
    
    @include for-size(smartphone-and-landscape) {
        transform: scale(0.7);
        margin-top: -20px;   
    }
}

