@import 'media_query';
@keyframes reveal {
    from {opacity: 0;}
    to {opacity: 1;}
}

.sliderWrapper {
    display: grid;
    @include for-size(smartphone-and-landscape) {
        position: relative;
        padding-top: 50px;
    }

    @include for-size(medium-up) {    
        grid-template-columns: 87px 2fr 2fr;
        margin: 0 115px 0px 115px;
        padding-top: 200px;
    }
    
    
    @include for-size(medium-only) {
        margin: 0 20px 0 20px;  
    }
    
    @include for-size(big-screen) {
        width: 1170px;
        margin: 0 auto;
    }
}

.itemToShowIdentifiersWrapper {
    @include for-size(smartphone-and-landscape) {
        display: flex;
        justify-content: center;
        grid-row: 2;  
    }

    @include for-size(medium-up) {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 2fr 1fr 2fr;
        position: relative;
    }
    

    .identifiers {
        display: flex;

        @include for-size(medium-up) {
            flex-direction: column;
            justify-content: space-evenly;
            height: inherit;
            grid-row: 2/3;
            justify-self: end;
        }
        
    }
    
    span {
        display: block;
        width: 10px;
        height: 10px;
        grid-row: 2/3;
        margin-right: 10px;
    }
    
    .inactive {
        position: relative;

        &::after {
            position: absolute;
            content: '';
            width: 6px;
            height: 6px;
            right: 2px;
            top: 2px;
            background-color: #FFFFFF;
            border-radius: 50%;
        }
    }

    .active {
        position: relative;

        &::after {
            position: absolute;
            content: '';
            width: 6px;
            height: 6px;
            border: 2px solid #FFFFFF;
            border-radius: 50%;
            animation: reveal 1s;
        }

    }
}

.slidePrev,
.slideNext {
    cursor: pointer;
    width: 77px;
    height: 77px;
    background: rgba(255, 255, 255, 0.02);
    border-radius: 50%;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    z-index: 1;
    transition: all .3s;

    &:hover {
        background: rgba(255, 255, 255, 0.15);
    }

    @include for-size(medium-up) {
        position: absolute;
    }
}

.slidePrev {
    @include for-size(medium-up) {
        top: 135px;
        left: -25px;
    }

    @include for-size(smartphone-and-landscape) {
        position: absolute;
        top: 290px;
        left: 15px;
        transform: rotate(-90deg);
    }
}

.slideNext {
    @include for-size(medium-up) {
        bottom: 135px;
        left: -25px;
    }

    @include for-size(smartphone-and-landscape) {
        position: absolute;
        top: 290px;
        right: 15px;
        transform: rotate(-90deg);
    }
}

.arrowUp {
    display: block;
    margin: 0 auto;
    padding-top: calc(77px/3);
}

.arrowDown {
    @extend .arrowUp;
    padding: 0 0 calc(77px/3);
    transform: rotate(180deg);
}

.products {
    justify-self: center;
    width: 277px;
    height: 506px;
    z-index: 1;
    
    
    @include for-size(smartphone-and-landscape) {
        max-width: 150px;
        height: 274px;
    }

    @include for-size(medium-up) {
        position: relative;
    }
    
    img {
        position: relative;
        pointer-events: none;
        user-select: none;
        z-index: 2;

        @include for-size(smartphone-and-landscape) {
            max-width: 150px;
        }
    }
    
}


.productsImgWrapper {
    display: flex;
    flex-direction: row;
    position: relative;

    img {
        position: absolute;
        top: 0;
        left: 0;
    }
}

.imgVisible {
    animation: reveal .5s;
    
}

.imgHidden {
    opacity: 0;
}

.productDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, sans-serif;
    animation: reveal .5s; 

    @include for-size(smartphone-and-landscape) {
        padding: 10px 30px 0 30px;
    }

    

    h1 {
        color:#624C3C;
        font-weight: 300;
        font-size: 4.8rem;
        margin: 0 0 17.5px 0;
        opacity: 1;

        @include for-size(smartphone-and-landscape) {
            font-size: 3rem;
            text-align: center;
            margin: 0;
        }
        
    }

    p {
        max-width: 560px;
        color: #78787B;
        font-size: 1.8rem;
        line-height: 2.5rem;

        @include for-size(smartphone-and-landscape) {
            margin: 10px auto;
        }
    }

    button {
        width: 170px;
        height: 50px;
        background-color: #624C3C;
        color: #FFEADB;
        border: transparent;
        border-radius: 5px;
        margin-top: 10px;

        @include for-size(smartphone-and-landscape) {
            margin: 0 auto;
        }
    }
}
