.wrapper {
    position: relative;
    max-width: 1140px;
    margin: 0 auto;
}

.title {
    position: absolute;
    top: 55px;
    left: 100px;
    h1 {
        width: 100%;
        text-align: center;
        font-family: Arial, sans-serif;
        font-size: 3.6rem;
        font-weight: 400;
        color: #624C3C;
        margin: 0 auto;
        line-height: 55px;
    }
}

.productsTable {
    position: relative;
    background: url('../assets/Background-b.png') 130px 195px no-repeat ;
    background-size: 100%;
    
}

.fixedFeaturesCover {
    position: fixed;
    top: 0;
    width: 130px;
    height: 193px;
    border-bottom: 1px solid #4D4D4F;
    background-color: #282829;
    z-index: 3;
}

.stickyBar {
    position: sticky;
    overflow: hidden;
    width: 960px;
    top: 0;
    margin-left: 130px;
    z-index:3;

    div {
        float: left;
    }
}

.stickyElementsWrapper {
    transition: transform 0.2s linear;
}

.stickyElement {
    position: relative;
    width: 160px;
    height: 193px;
    border-bottom: 1px solid #4D4D4F;
    
    h2 {
        font-size: 1.6rem;
        font-weight: 400; 
        text-align: center;
        margin: 0;
        padding-top: 39px;
        padding-bottom: 61px;
        color: #4D4D4F;
    }
}

.stickyElementImg {
    // url and background are injected in jsx
    position: absolute;
    width: 130px;
    height: 59px;
    top: 97px;
    left: 18px;
}


.productsFeatures {
    position: absolute;
    width: 130px;
    text-align: end;
    top: 467px;
    left: 0;
    padding: 0 30px 0 0;
    margin: 0;

    li {
        height: 113px;
        list-style: none;
        font-size: 1.4rem;
        color: #AEAEB2;
        padding-bottom: 56px;
    }
}

.productsWrapper {
    position: relative;
    overflow-x: hidden;
    width: 960px;
    // -webkit-overflow-scrolling: touch;
    margin-left: 130px;
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: rgba(38, 38, 38, 0.2);
    }
    &::-webkit-scrollbar{
        width: 12px;
        background-color: rgba(38, 38, 38, 0.2);
    }
    &::-webkit-scrollbar-thumb
    {
        border-radius: 10px;
        box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #505052;
    }

    .arrowLeft, .arrowRight {
        top: 158px;
    }
}

.columns {
    // !!! width injected in js, depends on quantity of products rendered (product-column width * quantity of products)
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 0;
    transition: transform 0.2s linear;
    
    &::after {
        content: '';
        clear: both;
        display: table;
    }
}

.product {
    position: relative;
    float: left;
    width: 160px;
    margin-top: 50px;
    margin-bottom: 50px;
    transition: transform 0.2s linear, box-shadow 0.05s linear;

    &:hover {
        cursor: pointer;
        box-shadow: 0 0 46px 0 rgba(#111111, 0.78);
        .head {
            color: #624C3C;
            background-color: rgba(#282829, 1);
        }
        .featuresList {
            color: #AEAEB2;
        }
        .colorVar1,
        .colorVar2 {
            background-color: rgba(#282829, 1);
        }
    }

    .head {
        position: absolute;
        width: 160px;
        height: 124px;
        top: 0px;
        padding-top: 42px;
        padding-bottom: 61px;
        color: #4D4D4F;
        
        h2 {
            font-size: 1.6rem;
            font-weight: 400; 
            text-align: center;
            margin: 0;
        }
        .productImg {
            // url and background are injected in jsx
            position: absolute;
            width: 130px;
            height: 59px;
            top: 100px;
            left: 18px;
        }
    }

    .tableHeadFiller {
        width: 158px;
        height: 124px;
        margin: 0; 
    }

    .featuresList {
        list-style: none;
        text-align: center;
        font-size: 1.2rem;
        color: #505052;
        padding: 0;
        padding-top: 100px;
    }

    li {
        position: relative;
        height: 113px;
        padding-bottom: 56px;
    }
}

.headColorVar1 {
    background-color: #272727; 
}

.headColorVar2 {
    background-color: #252525;
}

.colorVar1 {
    background-color: rgba(#242424, 0.8);
}

.colorVar2 {
    background-color: rgba(#262626, 0.6);
}


.arrow {
    position: absolute;
    cursor: pointer;
    width: 40px;
    height: 40px;
    top: 105px;
    // left: 15px;
    background-color: rgba(#111111, 0.5);
    border-radius: 50%;

    &::after {
        content: '';
        mask: url('../assets/left-arrow.svg');
        position: absolute;
        width: 20px;
        height: 20px;
        top: 10px;
        left: 10px;
        background-color: #AEAEB2;
        opacity: 0.8;
    }
    &:hover {
        background-color: rgba(#111111, 0.8);
        &::after {
            background-color: rgb(210, 210, 216);
            opacity: 1;
        }
    }
}

.arrowLeft {
    @extend .arrow;
    left: 10px;
    &::after {
        transform: rotate(360deg);
    }
}

.arrowRight {
    @extend .arrow;
    right: 10px;
    &::after {
        transform: rotate(180deg);
    }
}

.tickIcon {
    &::after {
        content: "";
        mask: url('../assets/tick.svg');
        position: absolute;
        left: 50%;
        margin-left: -12.5px;
        top: 10%;
        margin-top: -10px;
        width: 25px;
        height: 20px;
        background-color: #505052;
    }
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}