.sliderWrapper {
    display: grid;
    grid-template-columns: 87px 2fr 2fr;
    height: 630px;
    margin: 0 115px;

    @media screen and (min-width: 1400px) {
        width: 1170px;
        margin: 0 auto;
    }
}

.itemToShowIdentifiersWrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2fr 1fr 2fr;
    position: relative;

    .identifiers {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: inherit;
        grid-row: 2/3;
        justify-self: end;
    }
    
    span {
        display: block;
        width: 10px;
        height: 10px;
        grid-row: 2/3;
    }
    
    .inactive {
        position: relative;

        &::after {
            position: absolute;
            content: '';
            width: 6px;
            height: 6px;
            right: 2px;
            background-color: #FFFFFF;
            border-radius: 50%;
        }
    }

    .active {
        position: relative;

        &::after {
            position: absolute;
            content: '';
            width: 6px;
            height: 6px;
            border: 2px solid #FFFFFF;
            border-radius: 50%;
        }

    }
}

.slidePrev,
.slideNext {
    width: 77px;
    height: 77px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    cursor: pointer;
}

.slidePrev {
    grid-row: 1/2;
    grid-column: 2/2;
    align-self: end;
    user-select: none;
}

.slideNext {
    grid-row: 3/3;
    grid-column: 2/2;
    user-select: none;
}

.arrowUp {
    display: block;
    margin: 0 auto;
    padding-top: calc(77px/3);
    opacity: 0.6;
}

.arrowDown {
    @extend .arrowUp;
    padding: 0 0 calc(77px/3);
    transform: rotate(180deg);
}

.productImage {
    align-self: center;
    justify-self: center;
    max-width: 750px;
}

.productDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, sans-serif;

    h1 {
        color:#624C3C;
        font-weight: 300;
        font-size: 4.8rem;
        margin: 0 0 17.5px 0;
    }

    p {
        color: #78787B;
        font-size: 18px;
        line-height: 2.5rem;
    }

    button {
        width: 170px;
        height: 50px;
        background-color: #624C3C;
        color: #FFEADB;
        border: transparent;
        border-radius: 5px;
        margin-top: 10px;
    }
}

