.wrapper {
    margin: 0 auto;
    width: 904px;
    height: 670px;
    user-select: none;
    position: relative;

    h1 {
        text-align: center;
        font-family: Arial, sans-serif;
        font-size: 3.585rem;
        font-weight: 400;
        color: #624C3C;
    }
}

.backElements {
    display: grid;
    grid-template-columns: 320px 1fr 320px;  
}

.leftElement {
    background-color: rgba($color: #252526, $alpha: 1);
    width: inherit;
    height: 440px;
    // box-shadow: 0 20px 40px -5px rgba(#624C3C, .3);
    box-shadow: 7px 9px 32px 4px rgba(#000000, .3);
    overflow: hidden;
    // background-color: red;
    
    &:hover {
        box-shadow: 7px 9px 32px 4px rgba(#624C3C, .6);
        cursor: pointer;
    }

    //animations for Left Element
    &SwitchFromRightLeftElem {
        @extend .leftElement;
        &:hover {
            box-shadow: 7px 9px 32px 4px rgba(#000000, .3);
        }
        z-index: 1;
        animation: SwitchFromRightLeftElem .5s;

    }

    &SwitchFromLeftLeftElem {
        @extend .leftElement;
        &:hover {
            box-shadow: 7px 9px 32px 4px rgba(#000000, .3);
        }
        z-index: 2;
        animation: SwitchFromLeftLeftElem .5s;
    }

    @keyframes SwitchFromRightLeftElem {
        from {transform: translateX(0); z-index: 1;}
        to {transform: translateX(583px); z-index: 0;}
    }

    @keyframes SwitchFromLeftLeftElem {
        from {width: 320px; height:440px;}
        to {transform: translateX(259px) translateY(41px); width: 385px; height:530px; }
    }
    //

    .item {
        display: flex;
        // background: url('../assets/headset_background.png') no-repeat;
        flex-direction: column;
        align-items: baseline;
        justify-content: space-between;
        width: inherit;
        height: inherit;

        h3 {
            align-self: flex-start;
            font-family: Arial, sans-serif;
            font-size: 1.4rem;
            font-weight: 100;
            color: #59595C;
            margin: 0;
            margin: 60px 0 0 29px;

        }

        img {
            align-self: flex-end;
            margin-bottom: 21px;
        }
        
    }
}

.rightElement {
    @extend .leftElement;
    grid-column: 3/3;
    overflow: hidden;
    // width: 386px; height:530px;
    // transform: translateX(-91%) translateY(21%);
    // background-color: red;  

    //animations for Right Element
    &SwitchFromRightRhtElem {
        @extend .rightElement;
        &:hover {
            box-shadow: 7px 9px 32px 4px rgba(#000000, .3);
        }
        z-index: 2;
        animation: SwitchFromRightRhtElem .5s;

    }
    
    &SwitchFromLeftRhtElem {
        @extend .rightElement;
        &:hover {
            box-shadow: 7px 9px 32px 4px rgba(#000000, .3);
        }
        z-index: 1;
        animation: SwitchFromLeftRhtElem .5s;

    }

    @keyframes SwitchFromRightRhtElem {
        from {width: 320px; height:440px;}
        to {transform: translateX(-325px) translateY(41px); width: 385px; height:530px; }
    }

    @keyframes SwitchFromLeftRhtElem {
        from {transform: translateX(0); z-index: 1;}
        to {transform: translateX(-583px); z-index: 0;}
    }

    //

    .item {
        // background: url('../assets/Layer\ 10.png') no-repeat; 
    }
}

.middleElement {
    @extend .leftElement;
    position: absolute;
    width: 385px;
    height: 530px;
    // background: rgba($color: red, $alpha: 0.5);
    background-color: #282829;
    // background-color: yellow;
    top: calc(66px + 40px);
    left: 50%;
    margin-left: calc(386px/2 * -1);
    box-shadow: 0 20px 40px -5px rgba(#000000, .3);
    z-index: 2;


    // for develop
    // opacity: 0.8;
    

    &:hover {
        box-shadow: 0 20px 40px -5px rgba(#000000, .3);
        cursor: default;
    }

    //animations for Middle Element
    &SwitchFromRightMid {
        @extend .middleElement;
        animation: switchFromRightMid .5s;

    }

    &SwitchFromLeftMid {
        @extend .middleElement;
        animation: switchFromLeftMid .5s;

    }

    @keyframes switchFromRightMid {
        from {transform: translateX(0) translateY(0);}
        to {transform: translateX(-81%) translateY(-41px); width: 320px; height: 440px;
        z-index: 1}
    }

    @keyframes switchFromLeftMid {
        from {transform: translateX(0) translateY(0);}
        to {transform: translateX(325px) translateY(-41px); width: 320px; height: 440px;
        z-index: 1}
    }
    //

    .item {
        flex-direction: column;
        // background: url('../assets/Layer\ 7.png') no-repeat 0% 100%;

        h2 {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 2.4rem;
            font-weight: 400;
            color: #78787B;
            line-height: 3.8rem;
            margin: 0 0 35px 29px;
            animation: reveal .3s;
            
        }

        button { 
            width: 170px;
            height: 50px;
            background-color: #624C3C;
            color: #FFEADB;
            border: transparent;
            border-radius: 5px;
            margin: 0 0 50px 29px;
            animation: reveal .3s;
            &:hover {
                cursor: pointer;
            }
        }

        //animation
        @keyframes reveal {
            from {opacity: 0;}
            to {opacity: 1;}
        }
        //
    }

    .buttonFix {
        @extend .item;
        position: relative;
        button { 
            position: absolute;
            top: 210px;
            margin: 0 0 0 29px;
            z-index: 3;
        }

        h2 {
            position: absolute;
            top: 95px;
            margin: 0 0 0 29px;
            z-index: 3;
        }
    }
}

