.table {
    max-width: 1140px;
    margin: 0 auto;
}

header {
    h1 {
        width: 100%;
        text-align: center;
        font-family: Arial, sans-serif;
        font-size: 3.6rem;
        font-weight: 400;
        color: #624C3C;
        margin: 0 auto;
        line-height: 55px;
    }
}




.productsTable {
    position: relative;
}

.featuresFillerBlock {
    width: 130px;
    height: 314px;
}

.featuresToFixed {
    position: fixed;
    top: 0;
    width: 180px;
    height: 193px;
    border-bottom: 1px solid #4D4D4F;
    background-color: #282829;
    z-index: 3;
}

.features {
    // display: inline-block; //subject to change !!! ///////

    position: absolute;
    width: 130px;
    top: 0;
    left: 0;
    z-index: 1;
    // background-color: rgba(#252526, 0.5);

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        height: 113px;
        list-style: none;
        font-size: 1.4rem;
        color: #AEAEB2;
        padding-bottom: 56px;
    }
}


.productsWrapper {
    overflow-x: auto;
    // -webkit-overflow-scrolling: touch;
    margin-left: 130px;
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: rgba(38, 38, 38, 0.2);
    }
    &::-webkit-scrollbar{
        width: 12px;
        background-color: rgba(38, 38, 38, 0.2);
    }
    &::-webkit-scrollbar-thumb
    {
        border-radius: 10px;
        box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #505052;
    }
}

.columns {
    // !!! width injected in js, depends on quantity of products rendered (product-column width * quantity of products)
    // width: 970px;
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 0;
    overflow: hidden;
    
    &::after {
        content: '';
        clear: both;
        display: table;
    }
      
}

.product {
    position: relative;
    float: left;
    width: 160px;
    margin-top: 90px;
    margin-bottom: 50px;
    // border-right: 1px solid transparent;
    // border-left: 1px solid transparent;
    transition: transform 0.2s linear, box-shadow 0.05s linear;
    
    &:first-of-type {
        margin-left: 50px;
    }

    &:hover {
        cursor: pointer;
        // transform: scale(1.01);
        box-shadow: 0 0 46px 0 rgba(#111111, 0.78);
        .head {
            color: #624C3C;
            background-color: rgba(#282829, 1);
        }
        .featuresList {
            color: #AEAEB2;
        }
        .colorVar1,
        .colorVar2 {
            background-color: rgba(#282829, 1);
        }
    }

    .head {
        position: absolute;
        width: 160px;
        height: 124px;
        top: 0px;
        padding-top: 42px;
        padding-bottom: 61px;
        color: #4D4D4F;
        
        h2 {
            font-size: 1.6rem;
            font-weight: 400; 
            text-align: center;
            margin: 0;
        }
        .productImg {
            // url and background are injected in jsx
            position: absolute;
            width: 130px;
            height: 59px;
            top: 100px;
            left: 18px;
        }
    }


    .tableHeadFiller {
        width: 158px;
        height: 124px;
        margin: 0; 
    }


    .headFixed {
        position: fixed;
        top: 0;
        padding-bottom: 150px;
        background-color: rgba(#242424, 1);
        border-bottom: 1px solid #4D4D4F;
        z-index: 2;
    }

    .headColorVar1 {
        background-color: #272727;
        // border-left: 1px solid #272727;
        // border-right: 1px solid #272727;    
    }

    .headColorVar2 {
        background-color: #252525;
        // border-left: 1px solid #252525;
        // border-right: 1px solid #252525;
    }

    .featuresList {
        list-style: none;
        text-align: center;
        font-size: 1.2rem;
        color: #505052;
        padding: 0;
        // padding-top: 63.7px;
        padding-top: 100px;
    }

    li {
        position: relative;
        height: 113px;
        padding-bottom: 56px;
    }
}

.testHead {
    // visibility: hidden;
    position: fixed;
    width: 1010px;
    top: 0;
    left: 245px;
    overflow: hidden;
    div {
        float: left;
        // &:first-of-type {
        //     margin-left: 50px;
        // }
    }
}

.testHeadWrapper {
    margin-left: 50px;
}

.testHeadElement {
    width: 160px;
    height: 193px;
    h2 {
        font-size: 1.6rem;
        font-weight: 400; 
        text-align: center;
        margin: 0;
    }
}

.testHeadElementImg {
    // url and background are injected in jsx
    position: absolute;
    width: 130px;
    height: 59px;
    top: 100px;
    left: 18px;
}

.colorVar1 {
    background-color: rgba(#242424, 0.8);
}

.colorVar2 {
    background-color: rgba(#262626, 0.6);
}

.tickIcon {
    &::after {
        content: "";
        mask: url('../assets/tick.svg');
        position: absolute;
        left: 50%;
        margin-left: -12.5px;
        top: 25%;
        margin-top: -10px;
        width: 25px;
        height: 20px;
        background-color: #505052;
    }
}

.visible {
    // visibility: visible;
    opacity: 1;
}

.hidden {
    // visibility: hidden;
    opacity: 0;
}