@import 'media_query';
.card {
    width: 767px;
    height: 425px;
    left: 0;
    right: 0;
    margin: auto;
    padding-left: 59.5px;
    box-shadow: -26.1px 28.98px 40px rgba(#000000, .2);
    background: url('../assets/background_productGuide.png') no-repeat #252526;
    // user-select: none;

    @include for-size(smartphone-and-landscape) {
        width: inherit; 
        height: auto;
        min-height: 515px;
        margin: 0 20px;
        padding: 0 20px;
    }

    &::after {
        content: url('../assets/steel_logo.png');
        position: absolute;
        width: 41px;
        height: 48px;
        right: 60px;
        bottom: 59px;

        @include for-size(smartphone-and-landscape) {
            right: 30px;
            bottom: 20px;
        }
    }

}

.cardContent {
    font-family: Arial, sans-serif;
    margin: calc(52px - 20.91px) 0 0 0;
    h2 { 
        color: #3E3E40;
        font-size: 2.4rem;
        font-weight: 300;
        margin: 0;
        span {
            color: #624C3C;
        }
    }
    
    p {
        color: #78787B;
        font-size: 1.8rem;
        margin: 21px 0 0 0;
    }
    
    .previous {
        display: inline-block;
        position: relative;
        padding: 0 0 10px 20px;
        margin: 0;
        color: #78787B;
        font-size: 1.4rem;
        cursor: pointer;
        &:hover {
            color: white;
            &::after {
                background-color: white;
            }
        }
        &::after {
            content: '';
            mask: url('../assets/left-arrow.svg');
            position: absolute;
            width: 15px;
            height: 15px;
            left: 0;
            background-color: #78787B; 
        }
    }

    .questionContent {
        display: inline-block;
        @include for-size(smartphone-and-landscape) {
            display: block;
            padding-top: 20px;
        }
    }

    .gripType {
        position: absolute;
        display: inline-block;
        top: 110px;
        width: 200px;
        height: 200px;

        @include for-size(smartphone-and-landscape) {
            position: initial;
            display: block;
        }
    }

    .handTypePos {
        width: 105px;
        height: 170px;
        right: 350px;
        top: 140px;
    }
}

.hiddenPrev {
    visibility: hidden;
}

.variantsWrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: 76px;
    margin-top: 58.8px;

    @include for-size(smartphone-and-landscape) {
        margin-top: -20px;
        height: auto;
    }
}

.variantsWrapper label {
    position: relative;
    margin-right: 25.6px;

    @include for-size(smartphone-and-landscape) {
        margin-top: 20px;
        margin-right: 15px;
    }

    &:hover {
        cursor: pointer;
        border: #FFFFFF;
    }

    .variantText {
        position: absolute;
        line-height: 76px;
        font-size: 1.4rem;
        color: #FFFFFF;
        z-index: 2;
    }

    .variantImage {
        display: flex;
        position: relative;
        justify-content: center;
        width: 76px;
        height: 76px;      
        border-radius: 50%;
        background-color: grey;
        //!!! Tick icon controlled by CSS part 1 !!!
        &::before {
            content: url('../assets/SelectedTick.svg');
            position: absolute;
            width: 45px;
            height: 52px;
            left: -18px;
            top: -8.8px;
            z-index: 3;
            display: none;
        }
    }

    .variantOverlay {
        &::after {
            content: '';
            position: absolute;
            width: inherit;
            height: inherit;
            border-radius: inherit;
            border: 1px hidden transparent;
            background: rgba(#624C3C, .7);
            z-index: 1;
        }
        &:hover::after {
            border: 1px solid white;
        }
    }

    input {
        position: absolute;
        visibility: hidden;
        //!!! Tick icon controlled by CSS part 2 !!!
        &:checked ~ .variantImage::before {
            display: block;
        }
        &:checked ~ .variantImage {
            text-shadow: 3px 3px 3px black;
        }
        &:checked ~ .variantOverlay::after {
            visibility: hidden;
        }
    }

}

.nextButton {
    position: relative;
    user-select: none;
    width: 170px;
    height: 50px;
    color: #ACACAC;
    font-size: 1.4rem;
    text-align: right;
    padding: 14px 16px 0 16px;
    margin-top: 63px;
    border: 3px solid #624C3C;
    border-radius: 3px;
    background-color: transparent;
    transition: background-color .3s linear;

    @include for-size(smartphone-and-landscape) {
        position: absolute;
        bottom: 0;
        margin-top: 0;
        margin-bottom: 20px;
    }

    &::before {
        content: '';
        mask: url('../assets/arrowsDownSymbol.svg');
        position: absolute;
        width: 8px;
        height: 10px;
        top: 17px;
        left: 16px;
        background-color: #78787B; 
    }
    &:hover {
        cursor: pointer;
        background-color: #624C3C;
        color: white;
        &::before {
            background-color: white;
        }
    }

    
}

.greyed {
    background-color: none;
    color: rgba(#ACACAC, .3);
    border: 3px solid rgba(#624C3C, .3);

    &::before {
        background-color: rgba(#78787B, .3); 
    }

    &:hover {
        cursor: default;
        background-color: initial;
        color: rgba(#ACACAC, .3);
        
        &::before {
            background-color: rgba(#78787B, .3);
        }        
    }
}

// %greyedClicked-and-submitbutton-shared {
//     span {
//         &::before {
//             content: "";
//             position: absolute;
//             display: block;
//             background-size: 25px 25px;
//             background-image: url('../assets/Exclamation_encircled.svg');
//             background-repeat: no-repeat;
//             width: 25px;
//             height: 25px;
//             left: -3px;
//             top: -40px;
//         }
//         &::after {
//             content: "Please select an answer first";
//             position: absolute;
//             top: -35px;
//             right: -25px;
//             width: 160px;
//             color: #ACACAC;
//             font-size: 1.2rem;
//             text-align: center;
//         } 
//     }
// }

.greyedNotClicked {
    span {
        &::before {
            content: "";
            position: absolute;
            display: block;
            background-size: 25px 25px;
            background-image: url('../assets/Exclamation_encircled.svg');
            background-repeat: no-repeat;
            width: 25px;
            height: 25px;
            left: -3px;
            top: -40px;
            visibility: hidden;
        }
        &::after {
            content: "Please select an answer first";
            position: absolute;
            top: -35px;
            right: -25px;
            width: 160px;
            color: #ACACAC;
            font-size: 1.2rem;
            text-align: center;
            visibility: hidden;
        } 
    }
}

.greyedClicked {
    @extend .greyedNotClicked;
    span {
        &::before {
            visibility: visible;
        }
        &::after {
            visibility: visible;
        }
    }
}

.submitButton {
    @extend .nextButton;
    display: block;
    padding: 0 37px 0 16px;

    // @extend %greyedClicked-and-submitbutton-shared;

    &:focus {
        outline: none;
    }

    &::before {
        transform: translateX(0) rotate(-90deg);
        left: 139px;
        transition: transform .2s linear;
    }
    &:hover::before {
        transform: translateX(10px) rotate(-90deg);
    }
}